body {
    background-color: black;
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.message {
    text-align: center
